* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    
    background-color: #ffffff;
    color: #09090b;
    line-height: 1.5;
    min-width: 1200px;
    

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;

}
    

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 50px;
    letter-spacing: -1px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    background-color: #1D4ED8;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn-outline {
    background-color: transparent;
    color: #1D4ED8;
    border: 1px solid #ffffff;
}
.btn-hero{
    display: inline-block;
    background-color: #1D4ED8;
    color: #ffffff;
    padding: 13px 60px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;

    

}
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    height: 75px;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -1px;
    width: 250px;
}

.nav-links {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    color: #575757;
    justify-content: center;
    flex-grow: 1;
}

.nav-links a:hover {
    color: #1d4ed8;
}

.nav-actions {
    width: 250px;
    text-align: right;
}
/* hero banner start */
.hero {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), 
    url('/banner.jpg');
    margin: auto;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 140px 0;
    text-align: center;
    width: auto;
    height: 90vh;
   
    
}

.hero-content {
    width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -1.5px;
    margin-bottom: 24px;
    line-height: 1.2;
    color: #ffffff;
}

.hero h1 em {
    font-style: italic;
    font-weight: 700;
}

.hero p {
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 40px;
    line-height: 1.9;
}



